{% extends "base/generic.html" %}

{% block content %}
<div class="container">
    <h1>Delete File</h1>

    <p>Are you sure you want to delete the file {{ file.filename }}? This can't be undone.</p>

    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes, delete.">
    </form>
</div>
{% endblock %}