{% extends "base/generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <input type="hidden" id="account-username" value="{{ user.username }}">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
    </div>
{% endblock %}