{% extends "base/plain.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container" style="margin-top: 50px;">
        <form action="" method="POST">
            <p>Forgot your password? Enter your email below and we'll send you a link to reset your password.</p>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary" value="Reset password">Send Email</button>
        </form>
    </div>
{% endblock %}