{% extends "base/plain.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container" style="margin-top: 50px;">
        {% if validlink %}
            <p>Please enter (and confirm) your new password.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password
                reset.</p>
        {% endif %}
    </div>
{% endblock %}