{% extends "base/generic.html" %}

{% block content %}
    <div class="container" style="margin-top: 50px;">
        <h1>The password has been changed!</h1>
        <p><a href="{% url 'login' %}">log in again?</a></p>
    </div>
{% endblock %}