<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Forum{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <header class="header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <form class="col-4 pt-1 text-center search-form" action="/search" method="GET">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <button class="btn btn-sm btn-outline-secondary" type="submit">Search
                        </button>
                    </div>
                    <input id="search-bar-sm" class="form-control form-control-sm" name="text" type="search" placeholder="Search"
                           aria-label="Search" aria-describedby="basic-addon1">
                </div>
            </form>
            <div class="col-4 text-center">
                <a class="header-logo text-dark" href="/">Forum</a>
            </div>
            {% if user.is_authenticated %}
                <div class="col-4 d-flex justify-content-end align-items-center"
                     id="account-nav">
                    <a href="/search"><img src="{% static "img/search-icon.png" %}" class="search-icon"></a>
                    <a class="text-muted" href="/logout">Logout</a>
                    <a class="btn btn-sm btn-outline-secondary" style="margin-left: 5px;" href="/account">My account</a>
                </div>
            {% else %}
                <nav class="col-4 d-flex justify-content-end align-items-center" id="account-nav">
                    <a href="/search"><img src="{% static "img/search-icon.png" %}" class="search-icon"></a>
                    <a class="text-muted" style="white-space: nowrap;" href="/login">Sign in</a>
                    <a class="btn btn-sm btn-outline-success" style="margin-left: 5px;" href="/register">Sign up</a>
                </nav>
            {% endif %}
        </div>
    </header>

    <div class="topic-header py-1 mb-3">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="/topics">All Topics</a>
            <a class="p-2 text-muted" href="/posts">Top Posts</a>
            <a class="p-2 text-muted" href="/topics/presentation">Presentation</a>
            <a class="p-2 text-muted" href="/topics/python">Python</a>
            <a class="p-2 text-muted" href="/topics/c">C++</a>
            <a class="p-2 text-muted" href="/topics/c-language">C</a>
            <a class="p-2 text-muted" href="/topics/java">Java</a>
            <a class="p-2 text-muted" href="/topics/javascript">JavaScript</a>
            <a class="p-2 text-muted" href="/topics/computing-topics">Computing</a>
            <!--The site admin should create links to the top topics and set them here-->
        </nav>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}

</div>
{% block content %}{% endblock %}

<footer class="forum-footer">
    <p>Site created by <a href="https://www.linkedin.com/in/david-wiles/">David Wiles</a></p>
    <p><a href="#">Back to top</a></p>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>