{% extends "base/generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>New Folder</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form|crispy }}
        </table>
        <button type="submit" class="btn btn-outline-primary" value="Submit">Save</button>
    </form>
</div>
{% endblock %}