{% extends "base/generic.html" %}

{% block content %}
    <div class="container">
        {% if directory.name != "root" %}
            <a href="/cloud/{{ directory.parent_dir.slug }}"><small>Go back</small></a>
            <h1>{{ directory.name }}</h1>
        {% endif %}
        <a class="btn btn-outline-secondary" href="/cloud/upload/{{ directory.slug }}" style="margin:15px 0;">Upload Files</a>
        <a class="btn btn-outline-secondary" href="/cloud/create_directory/{{ directory.slug }}" style="margin:15px 0;">New Folder</a>
        {% if directory.name != "root" %}
            <a class="btn btn-outline-danger" href="/cloud/{{ directory.slug }}/delete" style="margin:15px 0;">Delete Folder</a>
        {% endif %}
        <div class="list-group">
            {% for directory in directory.directory_set.all %}
                <div class="list-group-item flex-column align-items-start nav-div" id="{{ directory.id }}">
                    <a class="site-link" href="/cloud/{{ directory.slug }}"></a>
                    <div class="d-flex w-100 justify-content-between">
                        <h4>{{ directory.name }}</h4>
                        <small>{{ directory.get_short_date }}</small>
                    </div>
                </div>
            {% endfor %}
            {% for file in directory.file_set.all %}
                <div class="list-group-item flex-column align-items-start" id="{{ file.id }}">
                    <div class="d-flex w-100 justify-content-between">
                        <a href="/cloud/file/{{ file.slug }}"><h4>{{ file.filename }}</h4></a>
                        <small>{{ file.get_short_date }}</small>
                    </div>
                    <p class="mb-1">{{ file.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}