{% extends "base/generic.html" %}


{% load sitetags %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top: 50px;">
        {% if user|is_moderator %}
            <div style="margin-bottom: 10px;">
                <a class="btn btn-outline-secondary" href="/create-topic">Create Topic</a>
            </div>
        {% endif %}
        <div class="card-columns">
            {% for topic in topics %}
                <div class="card shadow-sm nav-div">
                    {% if topic.image %}
                        <img class="card-image" src="/files/{{ topic.image }}"
                             style="display: block; width:90%; margin: 5% auto;">
                    {% endif %}
                    <div class="card-body">
                        <a class="site-link" href="{{ topic.slug }}"></a>
                        <h4 class="card-title">{{ topic.title }}</h4>
                        <p class="card-text">{{ topic.short_description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}