{% extends "base/generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1>Delete Account</h1>
        <p>Are you sure you want to delete your account? This can't be undone.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-danger" value="Yes, delete.">Delete</button>
        </form>
    </div>
{% endblock %}