{% extends  "base/generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <input type="hidden" value="{{ user.id }}" id="user-id">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
        <hr>
    </div>
{% endblock %}