{% if results %}
    <div class="list-group list-group-flush search-result-container">
        {% if results %}
            {% for result in results %}
                <div class="list-group-item flex-column align-items-start search-result">
                    <div class="d-flex w-100 justify-content-between">
                        <h4>{{ result.title }}</h4>
                        <small>{{ result.get_short_date }}</small>
                    </div>
                    <a class="text-muted" href="/account/{{ result.user.slug }}">{{ result.user.username }}</a>
                    {% if result.image %}
                        <img style="width: 50%; height: auto;" src="{{ result.image }}">
                    {% endif %}
                    <p class="mb-1">{{ result.get_summary_text }}</p>
                    <a class="site-link" href="{{ result.get_absolute_url }}">View Post</a>
                </div>
            {% endfor %}
        {% else %}
            <h2>No results found, try searching for something else</h2>
        {% endif %}
    </div>
    <nav aria-label="Pagination" style="margin-top:35px;">
        {% if results.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if results.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ results.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for page in results.paginator.page_range %}
                    {% if results.number == page %}
                        <li class="page-item disabled"><a class="page-link" href="#">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if results.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ results.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
    </div>
{% endif %}
