{% extends "base/generic.html" %}

{% block content %}
    <div class="container">
	    {% if featured %}
        <div class="jumbotron rounded text-white bg-dark">
            <div class="col-md-6 px-0 nav-div">
		    <a class="site-link" href="/topics/{{ featured.topic.slug }}/{{ featured.slug }}"></a>
		    <h1 class="display-4 font-italic">{{ featured.title }}</h1>
		<p class="lead my-3">Click here for an exciting read!</p>
            </div>
        </div>
        <hr>
	{% endif %}
        <h3>Trending</h3>
        <div class="card-columns">
            {% for post in posts %}
                <div class="card shadow-sm nav-div">
                    <div class="card-body">
                        <a class="site-link" href="/topics/{{ post.topic.slug }}/{{ post.slug }}"></a>
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">{{ post.get_summary_text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
