{% extends "base/generic.html" %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="/posts/new" style="margin:15px;">Create new post</a>
        {% endif %}
        <div class="list-group list-group-flush">
            {% for post in posts %}
                <div class="list-group-item flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h2 style="margin-right: 0.5em;">{{ post.title }}</h2>
                        <small style="min-width: 40px;">{{ post.get_short_date }}</small>
                    </div>
                    <a class="text-muted" href="/account/{{ post.user.slug }}">{{ post.user.username }}</a>
                    <p class="mb-1" style="margin-top: 1em;">{{ post.get_summary_text }}</p>
                    <a href="/topics/{{ post.topic.slug }}/{{ post.slug }}">View post</a>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Pagination" style="margin-top:35px;">
            {% if posts.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for page in posts.paginator.page_range %}
                        {% if posts.number == page %}
                            <li class="page-item disabled"><a class="page-link" href="#">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ posts.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>
    </div>
{% endblock %}