{% extends "base/generic.html" %}

{% load sitetags %}

{% block content %}
    <div class="container">
        <div>
            <h1 id="post-title" data-post-id="{{ post.id }}">{{ post.title }}</h1>
        </div>
        {% if post.image %}
            <div>
                <img src="{{ post.image.get_view_url }}" style="width:100%; height: auto; margin-bottom: 10px;">
            </div>
        {% endif %}
        {% if post.link %}
            <div>
                <a href="{{ post.link }}">{{ post.link }}</a>
            </div>
        {% endif %}
        <div>
            <p style="white-space: pre-wrap;">{{ post.text }}</p>
        </div>
        {% if user.id == post.user.id or user|is_moderator %}
            <div style="margin-bottom: 10px;">
                <a class="btn btn-sm btn-outline-secondary" href="/posts/{{ post.slug }}/edit">Edit post</a>
                <a class="btn btn-sm btn-outline-danger" href="/posts/{{ post.slug }}/delete">Delete post</a>
            </div>
        {% endif %}
        <h4 style="margin-top: 25px;">Comments</h4>
        {% if user.is_authenticated %}
            {% csrf_token %}
            <textarea name="text" id="new_text" class="form-control" style="margin-top: 25px;"></textarea>
            <button type="button" class="btn btn-outline-primary" style="margin:15px 0" id="create-comment"
                    value="Submit">
                Comment
            </button>
        {% endif %}
        <div class="list-group list-group-flush">
            {% for comment in comments %}
                <div class="list-group-item flex-column align-items-start" id="{{ comment.id }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h4>{{ comment.user.username }}</h4>
                        <small>{{ comment.get_short_date }}</small>
                    </div>
                    <p class="mb-1" style="white-space: pre-wrap;">{{ comment.text }}</p>
                    {% if user.id == comment.user.id or user|is_moderator %}
                        <button type="button" class="btn btn-sm btn-outline-primary edit-comment">Edit</button>
                        <button type="button" class="btn btn-sm btn-outline-danger delete-comment">Delete</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Pagination" style="margin-top:35px;">
            {% if comments.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if comments.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for page in comments.paginator.page_range %}
                        {% if comments.number == page %}
                            <li class="page-item disabled"><a class="page-link" href="#">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if comments.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ comments.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>
    </div>
    <div class="modal fade" id="confirm-comment-delete-modal" tabindex="-1" role="dialog"
         aria-labelledby="confirm-delete"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm-delete">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your comment? This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="remove-delete-modal">Cancel</button>
                    <button type="button" class="btn btn-outline-danger" id="delete-confirm">Yes, delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
